bin/
dist/
.tools/
*.exe
*.test
*.out
.DS_Store
.idea/
.vscode/
.lighthouseci/
coverage.out
coverage.html
web/vendor/bergamot/
web/vendor/bergamot-firefox/
web/models/**
!web/models/
!web/models/.gitkeep
!web/vendor/.gitkeep
web/dicts/tmp/
web/dicts/mono/**
!web/dicts/mono/
!web/dicts/mono/en/
!web/dicts/mono/en/**
!web/dicts/mono/es/
!web/dicts/mono/es/**
web/dicts/bi/**
!web/dicts/bi/
!web/dicts/bi/enes.json
!web/dicts/bi/esen.json
__pycache__/
*.py[cod]
